<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1 style="color: blue; text-align: center">Spring boot MVC -Mini
	Project</h1>

<h2 style="color: blue; text-align: center">
	<a th:href="@{/emp_report}">Generate Employee Report</a>
</h2>

<br>

<h2 style="color: blue; text-align: center">
	<a th:href="@{/employee/emp_report}"> <img alt="" th:src="@{/images/report.jpeg}"
		width="60" height="60">
	</a>
</h2>
    
</body>
</html>


